<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   version="1.1"
   width="120"
   height="48"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg" >
  <style
    id="current-color-scheme"
    type="text/css">
      .ColorScheme-ViewFocus {
        color: #8BC332;
      }
      .ColorScheme-HeaderBackground {
        color: #2a2e32;
      }
      .ColorScheme-HeaderText {
        color: #a1a9b1;
      }
  </style>
  <g
    id="active-center"
    transform="translate(0,0)">
    <rect
      class=""
      style="fill:none;fill-opacity:1;stroke:none;stroke-width:{{ strokeWidth }};stroke-linecap:round;stroke-linejoin:round"
      width="{{ width }}"
      height="{{ height }}"
      ry="4"
      x="0"
      y="0" />
    <path
      class="ColorScheme-HeaderBackground"
      style="fill:none;fill-opacity:1;stroke:currentColor;stroke-width:{{ strokeWidth }};stroke-linecap:round;stroke-linejoin:round"
      d="M {{ width/2 }},{{ height/2 }} {{ path }}" />
  </g>
  <g
    id="hover-center"
    transform="translate(30,0)">
    <rect
      class="ColorScheme-HeaderBackground"
      style="fill:currentColor;fill-opacity:1;stroke:none;stroke-width:{{ strokeWidth }};stroke-linecap:round;stroke-linejoin:round"
      width="{{ width }}"
      height="{{ height }}"
      ry="4"
      x="0"
      y="0" />
    <path
      class="ColorScheme-ViewFocus"
      style="fill:none;fill-opacity:1;stroke:currentColor;stroke-width:{{ strokeWidth }};stroke-linecap:round;stroke-linejoin:round"
      d="M {{ width/2 }},{{ height/2 }} {{ path }}" />
  </g>
  <g
    id="pressed-center"
    transform="translate(60,0)">
    <rect
      class="ColorScheme-HeaderBackground"
      style="fill:currentColor;fill-opacity:1;stroke:none;stroke-width:{{ strokeWidth }};stroke-linecap:round;stroke-linejoin:round"
      width="{{ width }}"
      height="{{ height }}"
      ry="4"
      x="0"
      y="0" />
    <path
      class="ColorScheme-ViewFocus"
      style="fill:none;fill-opacity:1;stroke:currentColor;stroke-width:{{ strokeWidth }};stroke-linecap:round;stroke-linejoin:round"
      d="M {{ width/2 }},{{ height/2 }} {{ path }}" />
  </g>
  <g
    id="deactivated-center"
    transform="translate(90,0)">
    <rect
      class=""
      style="fill:none;fill-opacity:1;stroke:none;stroke-width:{{ strokeWidth }};stroke-linecap:round;stroke-linejoin:round"
      width="{{ width }}"
      height="{{ height }}"
      ry="4"
      x="0"
      y="0" />
    <path
      class="ColorScheme-HeaderText"
      style="fill:none;fill-opacity:1;stroke:currentColor;stroke-width:{{ strokeWidth }};stroke-linecap:round;stroke-linejoin:round"
      d="M {{ width/2 }},{{ height/2 }} {{ path }}" />
  </g>
  <g
    id="inactive-center"
    transform="translate(0,24)">
    <rect
      class=""
      style="fill:none;fill-opacity:1;stroke:none;stroke-width:{{ strokeWidth }};stroke-linecap:round;stroke-linejoin:round"
      width="{{ width }}"
      height="{{ height }}"
      ry="4"
      x="0"
      y="0" />
    <path
      class="ColorScheme-ViewFocus"
      style="fill:none;fill-opacity:1;stroke:currentColor;stroke-width:{{ strokeWidth }};stroke-linecap:round;stroke-linejoin:round"
      d="M {{ width/2 }},{{ height/2 }} {{ path }}" />
  </g>
  <g
    id="hover-inactive-center"
    transform="translate(30,24)">
    <rect
      class="ColorScheme-ViewFocus"
      style="fill:currentColor;fill-opacity:1;stroke:none;stroke-width:{{ strokeWidth }};stroke-linecap:round;stroke-linejoin:round"
      width="{{ width }}"
      height="{{ height }}"
      ry="4"
      x="0"
      y="0" />
    <path
      class="ColorScheme-HeaderBackground"
      style="fill:none;fill-opacity:1;stroke:currentColor;stroke-width:{{ strokeWidth }};stroke-linecap:round;stroke-linejoin:round"
      d="M {{ width/2 }},{{ height/2 }} {{ path }}" />
  </g>
  <g
    id="pressed-inactive-center"
    transform="translate(60,24)">
    <rect
      class="ColorScheme-ViewFocus"
      style="fill:currentColor;fill-opacity:1;stroke:none;stroke-width:{{ strokeWidth }};stroke-linecap:round;stroke-linejoin:round"
      width="{{ width }}"
      height="{{ height }}"
      ry="4"
      x="0"
      y="0" />
    <path
      class="ColorScheme-HeaderBackground"
      style="fill:none;fill-opacity:1;stroke:currentColor;stroke-width:{{ strokeWidth }};stroke-linecap:round;stroke-linejoin:round"
      d="M {{ width/2 }},{{ height/2 }} {{ path }}" />
  </g>
  <g
    id="deactivated-inactive-center"
    transform="translate(90,24)">
    <rect
      class=""
      style="fill:none;fill-opacity:1;stroke:none;stroke-width:{{ strokeWidth }};stroke-linecap:round;stroke-linejoin:round"
      width="{{ width }}"
      height="{{ height }}"
      ry="4"
      x="0"
      y="0" />
    <path
      class="ColorScheme-HeaderText"
      style="fill:none;fill-opacity:1;stroke:currentColor;stroke-width:{{ strokeWidth }};stroke-linecap:round;stroke-linejoin:round"
      d="M {{ width/2 }},{{ height/2 }} {{ path }}" />
  </g>
</svg>
