[Desktop Entry]
Name=Active DuoTone
Comment="Aurorae Theme by aryan02420"
X-KDE-PluginInfo-Author=aryan02420
X-KDE-PluginInfo-Email=aryan02420+plasma@gmail.com
X-KDE-PluginInfo-Website=https://github.com/aryan02420/plasma
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-License=MIT
